__pycache__/
*.pyc
*.pyo
*.pyd
*.exe
venv/
.venv/
env/
.env
.DS_Store
Thumbs.db
.vscode/
.idea/
storage/binaries/*
storage/loot/records/*
storage/loot/photos/*
storage/loot/logs/*
!storage/binaries/.gitkeep
!storage/loot/logs/.gitkeep
!storage/loot/records/.gitkeep
!storage/loot/photos/.gitkeep

